<div class="widget-head" ng-class="{'collapsive': allowCollapse === 'true'}" ng-click="toggleContent()">
    <div class="page-title pull-left">{{title}}</div>
    <small class="page-title-subtle" ng-show="subtitle">({{subtitle}})</small>
    <div class="widget-icons pull-right"></div>
    <small class="pull-right page-title-subtle" ng-show="rightText">{{rightText}}</small>
    <div class="clearfix"></div>
</div>