﻿<div class="well">
    <h4>Triggering Errors in Test Mode</h4>

    <ul>
        <li>
            <a href="javascript:;" ng-click="vm.postData.orderInfo.totalAmount = 0.00">
                To cause an invalid amount error, pass an amount equal to 0.00.
            </a>
        </li>
        <li>
            <a href="javascript:;" ng-click="vm.postData.orderInfo.totalAmount = 0.50">
                To cause a declined message, pass an amount less than 1.00.
            </a>
        </li>
        <li>
            <a href="javascript:;" ng-click="vm.postData.billingInfo.address = '888'; vm.postData.billingInfo.postal = '77777'">
                To simulate an AVS match, pass 888 in the address field, 77777 for zip code.
            </a>
        </li>

    </ul>
</div>