﻿<form novalidate name="directTransactionForm">
    <div class="container">
        <div class="col-md-6">
            <div class="form-group">
                <legend>Customer Information</legend>
            </div>

            <customer-vault-control customer-vault-id="vm.postData.customerVaultId"
                                    customer-vault-mode="vm.postData.customerVaultMode"></customer-vault-control>

            <div class="form-group">
                <label class="col-sm-3">Company</label>
                <input type="text" class="form-control" required ng-model="vm.postData.company">
            </div>

            <div class="form-group">
                <label class="col-sm-3">First Name</label>
                <input type="text" class="form-control" required ng-model="vm.postData.billingInfo.firstName">
            </div>

            <div class="form-group">
                <label class="col-sm-3">Last Name</label>
                <input type="text" class="form-control" required ng-model="vm.postData.billingInfo.lastName">
            </div>

            <div class="form-group">
                <label class="col-sm-3">Address</label>
                <input type="text" class="form-control" required ng-model="vm.postData.billingInfo.address">
            </div>

            <div class="form-group">
                <label class="col-sm-3">City</label>
                <input type="text" class="form-control" required ng-model="vm.postData.billingInfo.city">
            </div>

            <div class="form-group">
                <label class="col-sm-3">State</label>
                <input type="text" class="form-control" required ng-model="vm.postData.billingInfo.state">
            </div>

            <div class="form-group">
                <label class="col-sm-3">Zip</label>
                <input type="text" class="form-control" required ng-model="vm.postData.billingInfo.postal">
            </div>

            <div class="form-group">
                <label class="col-sm-3">Email</label>
                <input type="text" class="form-control" required ng-model="vm.postData.billingInfo.email">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <legend>Shipping Information</legend>
            </div>

            <div class="form-group">
                <label class="col-sm-3">First Name</label>
                <input type="text" class="form-control" required ng-model="vm.postData.shippingInfo.firstName">
            </div>

            <div class="form-group">
                <label class="col-sm-3">Last Name</label>
                <input type="text" class="form-control" required ng-model="vm.postData.shippingInfo.lastName">
            </div>

            <div class="form-group">
                <label class="col-sm-3">Address</label>
                <input type="text" class="form-control" required ng-model="vm.postData.shippingInfo.address">
            </div>

            <div class="form-group">
                <label class="col-sm-3">Address 2</label>
                <input type="text" class="form-control" required ng-model="vm.postData.shippingInfo.address2">
            </div>

            <div class="form-group">
                <label class="col-sm-3">City</label>
                <input type="text" class="form-control" required ng-model="vm.postData.shippingInfo.city">
            </div>

            <div class="form-group">
                <label class="col-sm-3">State</label>
                <input type="text" class="form-control" required ng-model="vm.postData.shippingInfo.state">
            </div>

            <div class="form-group">
                <label class="col-sm-3">Zip</label>
                <input type="text" class="form-control" required ng-model="vm.postData.shippingInfo.postal">
            </div>
        </div>
    </div>

    <div ng-if="vm.showOrderInfo">
        <hr />

        <div class="container">
            <div class="form-group">
                <label>Merchant Defined Field 1</label>
                <input type="text" class="form-control" placeholder="optional" ng-model="vm.postData.merchantDefinedField1" />
            </div>
            <div class="form-group">
                <label>Merchant Defined Field 2</label>
                <input type="text" class="form-control" placeholder="optional" ng-model="vm.postData.merchantDefinedField2" />
            </div>
            <div class="form-group">
                <label class="col-sm-3">Transaction Type</label>
                <select ng-model="vm.postData.transactionType">
                    <option>sale</option>
                    <option>credit</option>
                    <option>auth</option>
                    <option>validate</option>
                    <option>offline</option>
                </select>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Total Amount</label>
                <input type="number" class="form-control" required ng-model="vm.postData.orderInfo.totalAmount">
                <a href="javascript:" ng-if="vm.postData.orderInfo.totalAmount != 12"
                   ng-click="vm.postData.orderInfo.totalAmount = 12">Reset</a>
            </div>
        </div>
    </div>
</form>