﻿<form novalidate id="paymentForm" name="paymentForm">
    <div class="container">
        <div class="form-group">
            <legend>Payment Information</legend>
        </div>

        <div class="form-group">
            <label class="col-sm-3">Payment Method</label>
            <select ng-model="vm.paymentMethod">
                <option value="creditCard">Credit Card</option>
                <option value="ach">ACH</option>
            </select>
        </div>

        <div ng-if="vm.paymentMethod == 'creditCard'">
            <div class="form-group">
                <label class="col-sm-3">Credit Card Number</label>
                <input type="text" class="form-control" required
                       id="cc_number" name="cc_number"
                       ng-model="vm.creditCardNumber">
            </div>

            <div class="form-group">
                <label class="col-sm-3">Expiration</label>
                <input type="text" class="form-control" required
                       id="cc_exp" name="cc_exp"
                       ng-model="vm.creditCardExpiration">
            </div>

            <div class="form-group">
                <label class="col-sm-3">CVV</label>
                <input type="text" class="form-control" required
                       id="cvv" name="cvv"
                       ng-model="vm.cvv">
            </div>
        </div>

        <div ng-if="vm.paymentMethod == 'ach'">
            <div class="form-group">
                <label class="col-sm-3">Bank Entity Type</label>
                <select ng-model="vm.bankEntityType" required
                        id="billing-entity-type" name="billing-entity-type">
                    <option></option>
                    <option value="personal">Personal</option>
                    <option value="business">Business</option>
                </select>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Bank Account Type</label>
                <select ng-model="vm.bankAccountType" required
                        id="billing-account-type" name="billing-account-type">
                    <option></option>
                    <option value="checking">Checking</option>
                    <option value="savings">Savings</option>
                </select>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Name on the ACH Account</label>
                <input type="text" class="form-control" required
                       id="billing-routing-name" name="billing-account-name"
                       ng-model="vm.bankAccountName">
            </div>
            <div class="form-group">
                <label class="col-sm-3">Bank Routing Number</label>
                <input type="text" class="form-control" required
                       id="billing-routing-number" name="billing-routing-number"
                       ng-model="vm.bankRoutingNumber">
            </div>
            <div class="form-group">
                <label class="col-sm-3">Bank Account Number</label>
                <input type="text" class="form-control" required
                       id="billing-account-number" name="billing-account-number"
                       ng-model="vm.bankAccountNumber">
            </div>
        </div>
    </div>
</form>
