﻿
<div class="well">
    <h4>Test Data</h4>

    <table class="table table-striped table-hover">
        <tr ng-click="vm.paymentMethod = 'creditCard'; vm.creditCardNumber = '4111111111111111'; vm.creditCardExpiration = '1020'; vm.cvv = 411;">
            <td>
                Visa:
                4111111111111111
            </td>
        </tr>
        <tr ng-click="vm.paymentMethod = 'creditCard'; vm.creditCardNumber = '5431111111111111'; vm.creditCardExpiration = '1020'; vm.cvv = 411;">
            <td>
                MasterCard:
                5431111111111111
            </td>
        </tr>
        <tr ng-click="vm.paymentMethod = 'creditCard'; vm.creditCardNumber = '6011601160116611'; vm.creditCardExpiration = '1020'; vm.cvv = 411;">
            <td>
                Discover:
                6011601160116611
            </td>
        </tr>
        <tr ng-click="vm.paymentMethod = 'creditCard'; vm.creditCardNumber = '341111111111111'; vm.creditCardExpiration = '1020'; vm.cvv = 411;">
            <td>
                American Express:
                341111111111111
            </td>
        </tr>
        <tr ng-click="vm.paymentMethod = 'creditCard'; vm.creditCardExpiration = '1025'">
            <td>
                Credit Card Expiration:
                10/25
            </td>
        </tr>
        <tr ng-click="vm.paymentMethod = 'ach'; vm.bankAccountNumber = '123123123'">
            <td>
                Valid ACH Routing Number:
                123123123
            </td>
        </tr>
        <tr ng-click="vm.paymentMethod = 'ach'; vm.bankRoutingNumber = '123123123'">
            <td>
                Valid ACH Account Numer:
                123123123
            </td>
        </tr>

    </table>

    <h4>Triggering Errors in Test Mode</h4>

    <ul>
        <li>
            <a href="javascript:;" ng-click="vm.creditCardNumber = '4111111111111112'">
                To trigger a fatal error message, pass an invalid card number.
            </a>
        </li>
        <li>
            <a href="javascript:;" ng-click="vm.cvv = '999';">
                To simulate a CVV match, pass 999 in the cvv field.
            </a>
        </li>
    </ul>

</div>