﻿<section class="mainbar matter">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Viewing Payment Result Logs</h3>
            </div>
            <div class="panel-body">
                <div ng-if="vm.logs.length > 0">
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i>
                        All Logs are sorted by date in descending order (newest first).
                    </div>

                    <table class="table table-striped">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Token</th>
                            <th>Date Creted</th>
                            <th>Bytes</th>
                        </tr>
                        <tr ng-repeat="log in vm.logs">
                            <td>
                                <button class="btn btn-default"
                                        ng-click="vm.viewLog(log)">
                                    View
                                </button>
                            </td>
                            <td>{{log.tokenId}}</td>
                            <td>{{log.dateAdded | date:'medium'}}</td>
                            <td>{{log.bytes}}</td>
                        </tr>
                    </table>

                    <div class="padded-top pull-right">
                        <button class="btn btn-warning"
                                ng-click="vm.clearLogs()">
                            Delete Payment Logs
                        </button>
                    </div>
                </div>

                <div ng-if="vm.logs.length == 0">
                    No payment logs were found.
                </div>
            </div>
        </div>
    </div>
</section>