﻿<section class="mainbar matter">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Three Step Result</h3>
            </div>
            <div class="panel-body">
                <h3>Results</h3>

                <div ng-hide="vm.error">
                    <div class="alert alert-warning">
                        <i class="fa fa-warning"></i> This list of properties is only a partial list returned from Solupay's final step results.
                        For full documentation on what's available, visit the
                        <a href="https://secure.networkmerchants.com/gw/merchants/resources/integration/integration_portal.php#transactions_step_3"
                           target="_blank">Solupay Documentation <i class="fa fa-external-link"></i></a>.
                    </div>

                    <pre>{{vm.resultLog | json}}</pre>
                </div>

                <div ng-show="vm.error">
                    <div class="alert alert-danger">
                        An error has occurred: {{vm.error}}
                    </div>
                </div>

                <div class="padded-top">
                    <a class="btn btn-info" href="#!/">
                        <i class="fa fa-home"></i>
                        Return to Step One
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>