﻿<section class="mainbar">
    <div class="matter">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Simulated One-Step Process using the 3-step redirect.</h3>
            </div>
            <div class="panel-body">
        
                <div ng-include="'app/solupay/includes/step1Form.include.html'"></div>
                <div ng-include="'app/solupay/includes/step1HelpContent.include.html'"></div>
        
                <hr />
        
                <div ng-include="'app/solupay/includes/step2Form.include.html'"></div>
                <div ng-include="'app/solupay/includes/step2HelpContent.include.html'"></div>
        
                <div class="container">
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary"
                                    ng-disabled="orderForm.$invalid || paymentForm.$invalid || vm.submittingStep1 || vm.submittingStep2"
                                    ng-click="vm.submit()">
                                <div ng-hide="vm.submittingStep1 || vm.submittingStep2">Submit</div>
                                <div ng-show="vm.submittingStep1">
                                    <i class="fa fa-spin fa-spinner"></i>
                                    Submitting Step 1
                                </div>
                                <div ng-show="vm.submittingStep2">
                                    <i class="fa fa-spin fa-spinner"></i>
                                    Submitting Step 2
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>