﻿<section class="mainbar">
    <div class="matter">
        <div class="container">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Direct API Transaction Example
                            <div style="font-size: 0.7em">
                                For use with customer vaults only.
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">

                        <form novalidate name="orderForm">
                            <div class="form-group">
                                <label class="col-sm-3">Customer Vault ID</label>
                                <input type="text" class="form-control" ng-model="vm.postData.customerVaultId">
                                <button class="btn btn-link btn-xs"
                                        ng-click="vm.generateNewVaultId()"
                                        ng-if="vm.customerVaultMode == 'create'">
                                    New Vault ID
                                </button>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3">Transaction Type</label>
                                <select ng-model="vm.postData.transactionType">
                                    <option>sale</option>
                                    <option>credit</option>
                                    <option>auth</option>
                                    <option>validate</option>
                                    <option>offline</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3">Total Amount</label>
                                <input type="number" class="form-control" required ng-model="vm.postData.amount">
                                <a href="javascript:" ng-if="vm.postData.amount != 12"
                                   ng-click="vm.postData.amount = 12">Reset</a>
                            </div>
                            
                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-lg"
                                        ng-disabled="orderForm.$invalid || vm.submitting"
                                        ng-click="vm.submit()">
                                    <span ng-if="!vm.submitting">Submit Transaction</span>
                                    <span ng-if="vm.submitting">
                                        <i class="fa fa-spinner fa-spin"></i>
                                        Submitting Transaction
                                    </span>
                                </button>
                            </div>
                        </form>
                
                        <div ng-show="vm.transactionResult">
                            <hr />
                            <h4>Results</h4>
                            <pre>{{vm.transactionResult | json}}</pre>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Remove Customer Vault</h3>
                    </div>
                    <div class="panel-body">
                        <form novalidate name="removeVaultForm">
                            <div class="form-group">
                                <label class="col-sm-3">Customer Vault ID</label>
                                <input type="text" class="form-control" ng-model="vm.deleteVault.customerVaultId">
                                <button class="btn btn-link btn-xs"
                                        ng-click="vm.generateNewVaultId()"
                                        ng-if="vm.customerVaultMode == 'create'">
                                    New Vault ID
                                </button>
                            </div>

                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-lg"
                                        ng-disabled="removeVaultForm.$invalid || vm.removingVault"
                                        ng-click="vm.removeVault()">
                                    <span ng-if="!vm.removingVault">
                                        Delete Customer Vault
                                    </span>
                                    <span ng-if="vm.removingVault">
                                        <i class="fa fa-spinner fa-spin"></i>
                                        Deleting Customer Vault
                                    </span>
                                </button>
                            </div>
                        </form>
                        
                        <div ng-show="vm.removeResult">
                            <hr />
                            <h4>Results</h4>
                            <pre>{{vm.removeResult | json}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>