<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-big">
                    <a href="#!/">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="http://www.iadev.net" target="_blank">
                        Interapp
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="http://www.solupay.com" target="_blank">
                        Solupay
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>