<section id="dashboard-view" class="mainbar">
  <section class="matter">
      <div class="container">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Solupay Modern API Examples</h3>
              </div>
              <div class="panel-body">
                  <ul>
                      <li><a href="#!/solupay/transaction">Transaction Example</a> - Simulates the one-step transaction, but uses 3-step redirect API in the background.</li>
                      <li><a href="#!/solupay/customerVault">Add / Edit Customer Vault - Same as the transaction, this example uses the 3-step redirect API in the background.</a></li>
                      <li><a href="#/solupay/direct">Direct API Operations</a> - Issue credits or delete customer vault using the direct API.</li>
                      <li><a href="#!/solupay/query">Query API Example</a> - Search the Solupay reports using their Query API.</li>
                      <li><a href="#!/solupay/viewLogs">View Logs</a> - view logs of examples run through this app.</li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
</section>