﻿<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3">Condition</label>
        <select class="form-control" multiple ng-model="vm.searchVariables.condition">
            <option ng-value="value" ng-repeat="value in vm.searchOptions.condition">{{value}}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Transaction Type</label>
        <select class="form-control" ng-model="vm.searchVariables.transactionType">
            <option ng-value="value" ng-repeat="value in vm.searchOptions.transactionType">{{value}}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Action Type</label>
        <select class="form-control" multiple ng-model="vm.searchVariables.actionType">
            <option ng-value="value" ng-repeat="value in vm.searchOptions.actionTyps">{{value}}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Source</label>
        <select class="form-control" multiple ng-model="vm.searchVariables.source">
            <option ng-value="value" ng-repeat="value in vm.searchOptions.source">{{value}}</option>
        </select>
    </div>
    <div class="form-group">
        <label type="text" class="col-sm-3">Transaction ID</label>
        <input class="form-control" ng-model="vm.searchVariables.transactionId" />
    </div>
    <div class="form-group">
        <label class="col-sm-3">Partial Payment ID</label>
        <input type="text" class="form-control" ng-model="vm.searchVariables.partialPaymentId" />
    </div>
    <div class="form-group">
        <label class="col-sm-3">Order ID</label>
        <input type="text" class="form-control" ng-model="vm.searchVariables.orderId" />
    </div>
    <div class="form-group">
        <label class="col-sm-3">Last Name</label>
        <input type="text" class="form-control" ng-model="vm.searchVariables.lastName" />
    </div>
    <div class="form-group">
        <label class="col-sm-3">Email</label>
        <input type="email" class="form-control" ng-model="vm.searchVariables.email" />
    </div>
    <div class="form-group">
        <label class="col-sm-3">CC Number</label>
        <input type="text" class="form-control" ng-model="vm.searchVariables.ccNumber" />
    </div>
    <div class="form-group">
        <label class="col-sm-3">Start Date</label>
        <input type="date" class="form-control" ng-model="vm.searchVariables.startDate" />
    </div>
    <div class="form-group">
        <label class="col-sm-3">End Date</label>
        <input type="date" class="form-control" ng-model="vm.searchVariables.endDate" />
    </div>
    <div class="form-group">
        <label class="col-sm-3">Report Type</label>
        <select class="form-control" multiple ng-model="vm.searchVariables.reportType">
            <option ng-value="value" ng-repeat="value in vm.searchOptions.reportType">{{value}}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Customer Vault ID</label>
        <input type="text" class="form-control" ng-model="vm.searchVariables.customerVaultId" />
    </div>
    
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg" ng-click="vm.performSearch()">
            Perform Search
        </button>
    </div>
</form>
