﻿<div class="search-results">
    <div ng-show="vm.searchResults.length > 0">
        <table class="table table-striped">
            <tr ng-repeat="result in vm.searchResults track by $index" ng-if="vm.showReportRow($index)">
                <td>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Transaction ID</th>
                            <th>Type</th>
                            <th>Authorization</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{result.firstName}} {{result.lastName}}</td>
                            <td>{{result.transactionId}}</td>
                            <td>
                                {{result.transactionType}}
                                <span ng-if="vm.transactionType == 'cc'">{{result.ccNumber}}</span>
                                <span ng-if="vm.transactionType == 'ck'">{{result.checkAccount}}</span>
                            </td>
                            <td>{{result.authorizationCode}}</td>
                            <td>
                                <button class="btn btn-sm btn-info"
                                        ng-click="vm.showDetailsModal(result)">
                                    Details
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Amount</th>
                                        <th>Source</th>
                                        <th>Action</th>
                                        <th>Date</th>
                                        <th>IP Address</th>
                                        <th>Response</th>
                                        <th>Code</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="action in result.action">
                                        <td>{{action.amount | currency}}</td>
                                        <td>{{action.source}}</td>
                                        <td>{{action.actionType}}</td>
                                        <td>{{action.date}}</td>
                                        <td>{{action.ipAddress}}</td>
                                        <td>{{action.responseText}}</td>
                                        <td>
                                            {{action.responseCode}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <hr ng-hide="$last" />
                </td>
            </tr>
        </table>

        <div class="text-center padded-top">
            <p>You are currently on page {{vm.currentPage}} of {{vm.numPages}}</p>
            
            <ul uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage"
                items-per-page="vm.itemsPerPage" class="pagination-sm"
                boundary-links="true"></ul>
            
            <p>Total Items: {{vm.totalItems}}</p>
        </div>
        
    </div>
    
    <div ng-show="vm.searchResults.length == 0">
        No results were found.
    </div>

    <div class="well well-sm">
        Source URL: {{vm.sourceUrl}}
    </div>
</div>


<div class="padded-top">
    <button class="btn btn-default" ng-click="vm.backToForm()">
        <i class="fa fa-arrow-left"></i>
        Go back to the Search Form
    </button>
</div>
