﻿<section class="mainbar matter">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Solupay Search using Solupay Query API</h3>
            </div>
            <div class="panel-body">
                <query-form ng-hide="vm.searchResults"></query-form>
                
                <query-results ng-show="vm.searchResults" 
                               search-results="vm.searchResults"
                               source-url="vm.sourceUrl"></query-results>
            </div>
        </div>
    </div>
</section>